<div class="center controlpanel">
{{#each post}}
<div class="center row">
<div class="col-6">
<a class="cardlink" href="/controlpanel/update/{{id}}"></a>
</div>
<div class="col-6">
<p>{{title}}</p>
</div>
</div>
{{/each}}
</div>