<div class='center'>
  <h3>Create A New Post</h3>
  <form class='form signup-form login-subtext'>
    <div class='form-group center space'>
      <label for='postTitle'>Post Title</label>
      <input class='form-input post-title' type='text' id='post-title' />
    </div>
    <div class='form-group center space'>
      <label for='postText'>Post Text</label>
      <input class='form-input post-text' type='text' id='post-text' />
    </div>
    <div class='form-group center space'>
      <button class='btn btn-primary' type='submit'>Post!</button>
    </div>
  </form>
</div>

<script src='../public/js/index.js'></script>