<div class="center individual-post">
    <div class="post-card">
    <div class="post-header">
    <h3>{{post.Title}}<span>Posted by: {{user.username}}</span></h3>
    </div>
    <div class="post-body">{{post.body}}</div>
    </div>
</div>