<div class='center'>
  <h3>Edit A Post</h3>
  <form class='form update-form login-subtext'>
    <div class='form-group center space'>
      <label for='postTitle'>Title</label>
      <input class='form-input' type='text' id='post-title' value="{{post.title}}"/>
    </div>
    <div class='form-group center space'>
      <label for='postText'>Text</label>
      <input class='form-input' type='text' id='post-text' />
    </div>
    <div class='form-group center space'>
      <button class='btn btn-primary' type='submit'>Post!</button>
    </div>
  </form>
</div>

<script src='../public/js/index.js'></script>